# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src

# Project exclude paths
/Topics/Comparing values. Relational operators/Check the given numbers are different/out/
/Topics/Comparing values. Relational operators/Check the given numbers are different/out/production/classes/